<a href="https://colab.research.google.com/github/godwinrockson/ML_zoomcamp_godwin/blob/main/ML_Zoomcamp_Hmwk1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
print(np.__version__)

1.19.5

In [ ]:
print(pd.__version__)

1.1.5

In [ ]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2021-09-13 01:05:48--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.06s

2021-09-13 01:05:48 (24.5 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [ ]:
df = pd.read_csv('data.csv')
len(df)

11914

In [ ]:
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [ ]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

string_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [ ]:
df.head()

  make       model  year  ... city_mpg  popularity   msrp
0  bmw  1_series_m  2011  ...       19        3916  46135
1  bmw    1_series  2011  ...       19        3916  40650
2  bmw    1_series  2011  ...       20        3916  36350
3  bmw    1_series  2011  ...       18        3916  29450
4  bmw    1_series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [ ]:
#Average Price of BMW CARS
bmw_cars = df[df['make'] == 'bmw']

avg_msrp_bmw = sum(bmw_cars['msrp'])/len(bmw_cars)
print(round(avg_msrp_bmw))

61547

In [ ]:
#But this mean msrp will be worng if there is any missing value in the msrp. But thankfully, there is no missing value
bmw_cars['msrp'].isnull().sum

<bound method Series.sum of 0        False
1        False
2        False
3        False
4        False
         ...
11901    False
11902    False
11903    False
11904    False
11905    False
Name: msrp, Length: 334, dtype: bool>

In [ ]:
#Number of missing values in "Engine HP" after 2015 (including 2015) 
year_2015 = df['year'] >= 2015

df[year_2015]['engine_hp'].isnull().sum()

51

In [ ]:
#Calculate the average "Engine HP" in the dataset.
#Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
#Now, calcualte the average of "Engine HP" again.
#Has it changed?

avg_engine_hp_all= round(df['engine_hp'].mean())
print(avg_engine_hp_all)
avg_engine_hp = round(df['engine_hp'].fillna(avg_engine_hp_all).mean())
print(avg_engine_hp)

249
249

In [ ]:
#Select all the "Rolls-Royce" cars from the dataset.
#Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
#Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
#Get the underlying NumPy array. Let's call it X.
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
#Invert XTX.
#What's the sum of all the elements of the result?
Rollsroyce = df[df['make'] == 'rolls-royce']
Rollsroyce
Rollsroyce_1 = Rollsroyce[['engine_hp','engine_cylinders','highway_mpg']]
Rollsroyce_1
Rollsroyce_2 = Rollsroyce_1.drop_duplicates(keep='first')
Rollsroyce_2
X = Rollsroyce_2.values
X_transp = X.T
XTX = np.dot(X_transp,X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv

np.sum(XTX_inv)

0.032212320677486125

In [ ]:
#Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
#What's the value of the first element of w?.
y =np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = np.dot(XTX_inv, X_transp).dot(y)
w

array([ 0.19989598, 31.02612262, 31.65378877])